!!!5
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}

    %title= data.page.title || "International Day of Peace"

    = stylesheet_link_tag "all"
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js'
    = javascript_include_tag  "all"
    = favicon_tag 'favicon.png'

    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lora:400,700,400italic'

    /[if lte IE 8]
      = stylesheet_link_tag '//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css'

  %body{class: page_classes}
    = yield
